@model GermoBank.Models.ModelsPersonalizados.Accesion04Model

@{
    ViewData["Title"] = "Accesion04";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Accesion01.css" />
<link rel="stylesheet" href="~/css/titulos.css" />


<style>
    .card-header {
        background-color: white;
    }


    label.error {
        color: red;
        white-space: nowrap;
    }

    label {
        white-space: nowrap;
    }

    .card-body {
         padding: 0px; 
    }
</style>


<div class="row" style="margin-left:250px; margin-top:50px;">


<br />
    <form method="post"
          action="AgregarAccesion_04"
          >




          <div class="container">
            <div class="row mt-3">
                <div class="col-md-8">
                    <div class="card border-0">
                        <div class="card-body  align-content-center align-self-center align-items-center">
                            <div class="mt-3">
                                <header id="titulo_xd">agregar accesión</header>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card border-0">
                        <h5 class="card-title  align-items-center">Antecedentes</h5>

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">

                <div class="card-body">
                                            <div class="fields">
                                                <div class="input-field">
                                                    <label for="codigo_estado">Estado de germoplasma:</label>
                                                    <select id="codigo_estado"
                                                            name="codigo_estado"
                                                            class="form-select form-select-sm">
                                                        <option value="">--Seleccione un estado de germoplasma--</option>
                                                        @foreach (var estado in Model.estadosGermoplasmas)
                                                        {           
                                                            <option value="@estado.IdEstadoGermoplasmaPk">
                                                                @estado.NombreEstadoGermoplasma
                                                            </option>
                                                        }   
                                                    </select>
                                                </div>
                                                <div class="input-field">
                                                    <label for="fecha_sie">Fecha de siembra: </label>
                                                    <div>
                                                        <input type="date" id="fecha_sie" name="fecha_sie" />
                                                    </div>
                                                </div>
                                                <div class="input-field">
                                                    <label for="fecha_flo">Fecha de floración: </label>
                                                    <div>
                                                        <input type="date" id="fecha_flo" name="fecha_flo" />
                                                    </div>
                                                </div>
                                            </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card border-0">

                <div class="card-body">
                                            <div class="fields">
                                                <div class="input-field">
                                                    <label for="codigo_muestra">Muestra:</label>
                                                    <select id="codigo_muestra"
                                                            name="codigo_muestra"
                                                            class="form-select form-select-sm">
                                                        <option value="">--Seleccione una muestra--</option>
                                                        @foreach (var muestra in Model.metodosMuestreos)
                                                        {           
                                                            <option value="@muestra.IdMetodoMuestraPk">
                                                                @muestra.NombreMetodoMuestra
                                                            </option>
                                                        }   
                                                    </select>
                                                </div>
                                                <div class="input-field">
                                                    <label for="fecha_cos">Fecha de cosecha: </label>
                                                    <div>
                                                        <input type="date" id="fecha_cos" name="fecha_cos" />
                                                    </div>
                                                </div>
                                                <div class="input-field">
                                                    <label for="fecha_fru">Fecha de frutación: </label>
                                                    <div>
                                                        <input type="date" id="fecha_fru" name="fecha_fru" />
                                                    </div>
                                                </div>
                                            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                                        <h5 class="card-title">Plagas y Enfemedades</h5>

                <div class="card-body">
                                            <div class="input-field">
                                                <label for="codigo_plaga">Plaga:</label>
                                                <select id="codigo_plaga"
                                                        name="codigo_plaga"
                                                        class="form-select form-select-sm">
                                                    <option value="">--Seleccione una plaga--</option>
                                                    @foreach (var plaga in Model.plagasEnfermedades)
                                                    {           
                                                        <option value="@plaga.IdPlagaEnfermedadPk">
                                                            @plaga.NombrePlagaEnfermedad
                                                        </option>
                                                    }   
                                                </select>
                                            </div>
                                            <div class="input-field">
                                                <label for="codigo_practica">Práctica cultural:</label>
                                                <select id="codigo_practica"
                                                        name="codigo_practica"
                                                        class="form-select form-select-sm">
                                                    <option value="">--Seleccione una práctica cultural--</option>
                                                    @foreach (var practica in Model.practicasCulturales)
                                                    {           
                                                        <option value="@practica.IdPracticaCulturalPk">
                                                            @practica.NombrePracticaCultural
                                                        </option>
                                                    }   
                                                </select>
                                            </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card border-0">
                                        <h5 class="card-title">Más detalles</h5>

                <div class="card-body">
                                            <div class="fields">
                                                <div class="input-field">
                                                    <label for="codigo_uso">Uso:</label>
                                                    <select id="codigo_uso"
                                                            name="codigo_uso"
                                                            class="form-select">
                                                        <option value="">--Seleccione un uso--</option>
                                                        @foreach (var uso in Model.usos)
                                                        {           
                                                            <option value="@uso.IdUsoPk">@uso.NombreUso</option>
                                                        }   
                                                    </select>
                                                </div>
                                                <div class="input-field input-group-lg">
                                                    <label for="observacion">Observación: </label>
                                                    <div>
                                                        <input type="text" id="observacion" name="observacion" />
                                                    </div>
                                                </div>
                                            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
              <div class="row mt-3">
                <div class="col-md-8">
                    <div class="card border-0">
                        <div class="card-body  align-content-center align-self-center align-items-center">
                            <div class="mt-3">
                                <input type="submit" value="INGRESAR" class="btn btn-outline-success" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
</div>



    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
