@model IEnumerable<GermoBank.Models.GenerosTb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFamiliaFkNavigation)
            </th>
            <th class="col-2 text-center">  Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.NombreGenero)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.IdFamiliaFkNavigation.NombreFamilia)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdGeneroPk">Editar</a>
                        <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.IdGeneroPk">Detalles</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdGeneroPk">Eliminar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>